* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 120px;
  background-color: rgb(2, 157, 223);
  background-image: url('../img/pattern.png');
}

header img{
  width: 200px;
  height: 200px;
  padding-bottom: 40px;
  margin-left: 15px;
}

main, .list{
  padding-left: 15px;
}

h1, table, .img-tim, .txt, .list{
  padding-top: 10px;
}

table{
  width: 100vw;
  text-align: left; 
}

thead {
  background-color: rgb(0, 21, 255);
}


.txt-gray {
  color: gray;
}

.txt-blue {
  color: rgba(0, 157, 255, 0.637);
}

.small {
  font-size: small;
  padding-bottom: 10px;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: aqua;
}
